<div class="Session">

    <div id="conteProfi">

        <h1>Convertirse en premium:</h1>

        <br />

        <form id="uploadDocuments" enctype="multipart/form-data">

            <input type="file" id="identification" name="identification">
            <br />
            <input type="file" id="proofOfAddress" name="proofOfAddress">
            <br />
            <input type="file" id="bankStatement" name="bankStatement">
            <br />
            <input class="boton" type="submit" value="Cargar Documentos">

        </form>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/changeRole.js"></script>