<div class="Session">

    <div id="conteProfi">

        <div>
            <a href="/products"><img src="https://i.ibb.co/mHPj0kW/Logo-volver-removebg-preview.png" alt="volver"
                    border="0" class="logoS"
                    style="position: absolute; margin-top: 1.5em; margin-left: 0em !important;"></a>

            <div class="divLogo">
                <img src="https://i.ibb.co/hd9vsgK/Logo-BK-Grande.png" alt="Logo-BK-Grande" border="0" class="logoGRD">
            </div>

        </div>

        <h1>Perfil:</h1>

        <br>



        <div style="display: flex; justify-content: center; gap: 1em; flex-direction: row; align-items: center;">

            <img src="https://i.ibb.co/Kxb8GDb/login.png" alt="login" border="0"
                style="margin-top: 3em; height: 25vh; width: auto; margin-top: 0em">

            <div class="inputRole"
                style="display: flex; justify-content: center; gap: 1em; flex-direction: column; align-items: center;">
                <!-- Campo de entrada de archivos oculto -->
                <input type="file" id="archivoInput" style="display: none;" multiple>


                <!-- Botón personalizado -->
                <label for="archivoInput"
                    style="padding: 10px;  font-family: 'Montserrat'; background-color: #bfe4fd; color: #002877; cursor: pointer; border-radius: 5px; border: none;">
                    <span id="nombreArchivo">Seleccionar archivo</span>
                </label>



                <input class="boton" type="submit" value="Cargar Documentos">

                <button id="ChangeROLE" class="boton">Actualizar Role</button>



            </div>

            <p>Nombre: {{user.name}}.</p>
            <p>Correo: {{user.email}}.</p>
            <p>Rol: {{user.role}}.</p>

        </div>

    </div>

</div>


<script>
    // Manejar el evento de cambio del campo de entrada de archivos
    const archivoInput = document.getElementById('archivoInput');
    const nombreArchivo = document.getElementById('nombreArchivo');

    archivoInput.addEventListener('change', () => {
        const archivos = archivoInput.files;
        if (archivos.length > 0) {
            // Mostrar el nombre archivo seleccionado en el botón
            nombreArchivo.textContent = archivos[0].name;
        } else {
            // Cuando no hay archivos seleccionados, mostrar "Subir archivo"
            nombreArchivo.textContent = "Seleccionar archivo";
        }
    });
</script>