<div class="Session">

    <div id="conteProfi">

        <div class="divLogo">
            <img src="https://i.ibb.co/hd9vsgK/Logo-BK-Grande.png" alt="Logo-BK-Grande" border="0" class="logoGRD">
        </div>

        <div id="profile">

            <h1>Perfil:</h1>
            <img src="https://i.ibb.co/Kxb8GDb/login.png" alt="login" border="0"
                style="margin-top: 3em; height: 17vh; margin-top: 1em">

            <p>Nombre: {{user.name}}.</p>
            <p>Correo: {{user.email}}.</p>
            <p>Rol: {{user.role}}.</p>

        </div>

    </div>

</div>